@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/* We use root to select <html>
element but has a higher
specificity. */
:root {
  /* Color palette */
  --primary-color: #4A90E2; /* Carvana blue */
  --secondary-color: #F4A261; /*Soft Orange */
  --accent-color: #2A9D8F; /* Teal */
  /* Using three main colors can be visually appealing */
  --light-color: #f2f2f2; /* Light grey background */
  --dark-text: #333333; /* Dark text for contrast */
  --light-text: #FFFFFF; /* White text for dark backgrounds */
  --link-hover-color: #D62828; /* Red for hover states */

  /* Typography */
  --font-family: 'Open Sans', sans-serif;
  --font-size-normal: 1rem; /* 16px */
  --font-size-large: 1.25rem; /* 20px */
  --font-size-small: 0.875rem; /* 14px */

  /* Spacing */
  --spacing-small: 0.5rem;
  --spacing-medium: 1rem;
  --spacing-large: 2rem;

  /* Borders and shadows for a 3D effect */
  --border-radius: 10px;
  --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  --box-shadow-hover: 0 6px 12px rgba(0, 0, 0, 0.3);
  --text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s, transform 0.3s;
}

html, body {
  line-height: 1.5;
}

header nav ul {
  background-color: var(--primary-color);
  list-style: none;
  text-align: center;
  padding: var(--spacing-medium) 0;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
}

header nav ul li {
  display: inline-block;
  /* The element generates one or more
  inline boxes that do not generate
  line breaks before or after themselves.
   In normal flow, the next element will
   be on the same line if there is space.
   This keeps the nav li items on one line*/
  margin: 0 var(--spacing-small);
}

header nav ul li a {
  display: block;
  padding: var(--spacing-small) var(--spacing-medium);
  font-weight: bold;
  text-decoration: none;
  color: var(--light-text);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), transparent);
  border-radius: var(--border-radius);
  text-shadow: var(--text-shadow);
}

header nav ul li a:hover,
header nav ul li a:focus {
  background-color: var(--secondary-color);
  box-shadow: var(--box-shadow-hover);
}

body, input, textarea, button, select {
  font-family: var(--font-family);
  font-size: var(--font-size-normal);
  color: var(--dark-text);
  background-color: var(--light-color);
}

input,
select,
textarea {
  padding: var(--spacing-small);
  border: 1px solid var(--secondary-color);
  border-radius: var(--border-radius);
  margin-bottom: var(--spacing-medium);
  box-shadow: var(--box-shadow);
}

select[multiple] {
  height: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
}


.login-form,
.signup-form,
.task-form,
.project-form,
.edit-task,
.tasks-list,
.project-list,
.project-detail {
  background-color: var(--light-text);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  margin: var(--spacing-large) auto;
  padding: var(--spacing-large);
  max-width: 800px;
}

form h1,
.project-list h1,
.project-detail h1,
.tasks-list h1 {
  color: var(--primary-color);
  font-size: var(--font-size-large);
  text-shadow: var(--text-shadow);
}

.project-detail h2 {
  margin-top: var(--spacing-large);
}

form p {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px;
  align-items: center;
}


button {
  padding: var(--spacing-small) var(--spacing-medium);
  background-color: var(--accent-color);
  color: var(--light-text);
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  box-shadow: var(--box-shadow);
}

button:hover,
button:focus {
  background-color: var(--link-hover-color);
  box-shadow: var(--box-shadow-hover);
  transform: translateY(-2px);
}

.tasks-list th,
.tasks-list td,
.edit-task th,
.edit-task td,
.project-list th,
.project-list td,
.project-detail th,
.project-detail td {
  padding: var(--spacing-small);
  text-align: left;
  border-bottom: 1px solid var(--secondary-color);
}

.tasks-list thead tr th,
.edit-task thead tr th,
.project-list thead tr th,
.project-detail thead tr th {
  background-color: var(--secondary-color);
  color: var(--light-text);
  border-bottom: 2px solid var(--dark-text);
  text-shadow: var(--text-shadow);
}

.tasks-list tbody td:nth-child(n+2),
.project-list tbody td,
.project-detail tbody td:nth-child(n+2) {
  text-align: center;
}

.tasks-list tbody tr:not(:last-child) td,
.project-list tbody tr:not(:last-child) td,
.project-detail tbody tr:not(:last-child) td {
  border-bottom: 1px solid var(--secondary-color);
}

/* Interactive link effects */
a {
  position: relative;
  color: var(--primary-color);
  text-decoration: none;
}

/* The ::before pseudo element can insert content
before the html content, the visibility attribute
helps to hide the content and the transform and
transition tell it how to animate. */
a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -3px;
  left: 0;
  background-color: var(--accent-color);
  visibility: hidden;
  transform: scaleX(0);
  transition: all .75s ease-in-out 0s;
}

a:hover::before {
  visibility: visible;
  transform: scaleX(1);
}
