{% extends 'base.html' %}

{% block title %}
Edit Task
{% endblock title %}

{% block content %}
    <main>
        <div class="edit-task">
            <h2>Edit Task</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Save Changes</button>
            </form>
            <a href="{% url 'show_my_tasks' %}">Back to Task List</a>
        </div>
    </main>
{% endblock content %}
