{% extends "base.html" %}

{% block title %}
Search Projects
{% endblock title %}

{% block content %}
    <header>

    </header>

    <main>
        <div>
            <h1>Search for Projects by Company Name</h1>
            <form action="" method="get">
                <input type="text" name="query" placeholder="Enter company name">
                <button type="submit">Search</button>
            </form>
            {% if projects %}
                <h2>Projects for "{{ query }}"</h2>
                <ul>
                    {% for project in projects %}
                        <li>
                            <h3>{{ project.name }}</h3>
                            <p>{{ project.description }}</p>
                            <p>Owned by: {{ project.owner }}</p>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No projects found for "{{ query }}".</p>
            {% endif %}
        </div>
    </main>
{% endblock content %}
